/* Coolors Exported Palette - coolors.co/f2e8e6-210f0b-dd2400-0f8299-dee8ea */

/* RGB */
$color-bg-body: rgba(239, 239, 239, 1);
$color-bg-card: rgba(249, 253, 255, 1);
$color-bg-header: rgba(179, 31, 0, 1);
$color-bg-footer: rgba(33, 14, 10, 1);
$color-bg-button: rgba(11, 97, 114, 1);

$color4-alpha_7: rgba(33, 14, 10, .7);

$font-color-bright: rgba(249, 253, 255, 1);
$font-color-bright-hover: rgb(255, 44, 0);
$font-color-dark: rgba(33, 14, 10, 1);
