@import '../../../../../assets/css/containers';
@import '../../../../../assets/css/palette';

tour {
  @include card;
  display: flex;
  flex-direction: column;

  .event-metadata {
    margin: 10px;

    p {
      margin: 5px 0;
    }

    &::after {
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      margin: 10px 0;
      background: $color-bg-button;
      align-self: center;
    }
  }

  truck {
    .operator-info {
      align-items: center;
      flex-direction: column;

      .operator-locations {
        display: none;
      }
    }
  }
}
