@import 'palette';
@import 'containers';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto auto;
  max-width: 900px;

  color: $font-color-dark;
  background: $color-bg-body;
}

hr {
  margin: 20px;
}

h1 {
  padding: 5px;
}

h2 {
  padding: 5px;
}

h4 {
  padding: 20px;
  text-align: center;
}
