/* Coolors Exported Palette - coolors.co/f2e8e6-210f0b-dd2400-0f8299-dee8ea */

/* RGB */
$color1: rgba(239, 239, 239, 1);
$color2: rgba(249, 253, 255, 1);
$color3: rgba(221, 36, 0, 1);
$color4: rgba(33, 14, 10, 1);
$color5: rgba(11, 97, 114, 1);
