@import '../../../../assets/css/palette';
@import '../../../../assets/css/containers';

truck-tour {
  display: flex;
  align-items: center;
  margin: 4px 0;
  background: $color2;
  @include box-shadow;

  .event-metadata {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    margin: 10px;

    p {
      margin: 5px 0;
    }
  }
}
