@import '../../../../assets/css/containers';

truck-tour {
  @include card;
  display: flex;

  .event-metadata {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    margin: 10px;

    p {
      margin: 5px 0;
    }
  }
}
