@import '../../../../../assets/sass-global/containers';

truck-overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;

  .operator-card {
    @include card;
    margin: 5px;
    max-width: 50%;

    @include respond-to(max-width, 725px) {
      max-width: 536px;
    }
  }
}
