@import '../../../../assets/css/containers';

logo {
  min-width: 162px;
  max-width: 162px;
  min-height: 162px;
  cursor: pointer;

  .logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 150px;
      height: 112px;
    }

    p {
      text-align: center;
    }
  }

  @include respond-to(max-width, 320px) {
    min-width: 110px;
    max-width: 162px;
    min-height: 110px;

    img {
      width: 100px;
      height: 75px;
    }
  }
}
