@import '../../../../../assets/css/containers';
location-overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;

  .location-card {
    width: 33.3%;

    @include respond-to(max-width, 600px) {
      width: 50%;
    }

    @include respond-to(max-width, 400px) {
      width: 100%;
    }
  }
}
