@import '../assets/sass-global/palette';
@import '../assets/sass-global/containers';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: $font-color-dark;
  background: $color-bg-body;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

h1 {
  font-size: 1.5em;
  margin: 5px 0;
}

h2 {
  font-size: 1.2em;
  margin: 10px 0 5px;
}

p {
  font-size: 1em;
  line-height: 1.5;

  strong {
    display: block;
    margin-top: 5px;
  }
}

a {
  color: $font-color-link;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

hr {
  margin: 20px;
}

app {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: $font-color-bright;
    background: $color-bg-header;

    @include respond-to(max-width, 450px) {
      height: 60px;
    }

    .header-title {
      font-size: 2em;
      font-weight: bold;
    }
  }

  article {
    max-width: 800px;
    margin: auto auto;
    padding: 5px 20px;

    .navigate-back {
      display: inline-block;
      padding: 5px;
      color: $font-color-bright;
      background: $color-bg-button;
      cursor: pointer;
    }
  }

  modal-dialog {
    .modal-content {
      background: $color-bg-card;

      @include respond-to(max-width, 480px) {
        width: 90%;
        font-size: 0.8em;
      }
    }
  }

  footer {
    padding: 5px;
    color: $font-color-bright;
    background: $color-bg-footer;
    text-align: center;

    a {
      color: $font-color-bright;

      &:hover,
      &:focus {
        text-decoration: none;
        color: $font-color-link;
      }
    }

    ul, h5 {
      margin: 10px;
    }

    ul {
      text-align: center;

      li {
        display: inline-block;
        text-decoration: none;
      }

      li:nth-child(n+2)::before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 20px;
        background: $font-color-bright;
        margin: 0 5px;
        vertical-align: text-bottom;
      }
    }
  }
}
