@import '../../../../../assets/sass-global/containers';
@import '../../../../../assets/sass-global/palette';

truck {
  .operator-info {
    display: flex;
    justify-content: flex-start;

    @include respond-to(max-width, 360px) {
      align-items: center;
      flex-direction: column;
    }

    .operator-locations {
      display: flex;
      flex-wrap: wrap;

      li {
        display: inline-block;
        text-decoration: none;
        margin: 5px;
        padding: 5px;
        color: $font-color-bright;
        background: $color-bg-button;
        cursor: pointer;
      }
    }
  }

  .operator-description {
    padding: 10px;
  }

  .operator-impressions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .operator-impression {
      @include card;
      padding: 0;
    }

    img {
      width: 75px;
      height: 75px;

      @include respond-to(max-width, 330px) {
        width: 65px;
        height: 65px;
      }
    }
  }
}
