@import '../assets/sass-global/palette';
@import '../assets/sass-global/containers';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto auto;
  max-width: 900px;

  color: $font-color-dark;
  background: $color-bg-body;
}

hr {
  margin: 20px;
}

h1 {
  padding: 5px;
}

h2 {
  padding: 5px;
}

h4 {
  padding: 20px;
  text-align: center;
}

app {
  header {
    padding: 5px;
    color: $font-color-bright;
    background: $color-bg-header;
  }

  article {
    padding: 10px;
  }

  footer {
    padding: 5px;
    color: $font-color-bright;
    background: $color-bg-footer;
    text-align: center;

    ul, h5 {
      margin: 10px;
    }

    ul {
      text-align: center;

      li {
        display: inline-block;
        text-decoration: none;
      }

      li:nth-child(n+2)::before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 20px;
        background: $font-color-bright;
        margin: 0 5px;
        vertical-align: text-bottom;
      }
    }
  }
}
