@import '../../../../../assets/sass-global/containers';

tour-overview {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;

  .no-events {
    @include card;
    text-align: center;
    padding: 10px;
  }

  .truck-tour-card {
    width: 50%;

    @include respond-to(max-width, 600px) {
      width: 100%;
    }
  }
}
