@import '../../../../../assets/sass-global/containers';

tour-overview {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;

  .no-events {
    @include card;
    text-align: center;
    padding: 10px;
  }

  .truck-tour-card {
    width: 100%;

    @include respond-to(max-width, 420px) {
      font-size: 0.8em;
    }
  }
}
