@import '../../../../../assets/sass-global/containers';
@import '../../../../../assets/sass-global/palette';

location {
  cursor: pointer;

  .wrapper {
    @include card;
    margin: 3px;
    padding: 0;

    span {
      display: block;
      text-align: center;
      padding: 5px;
      color: $font-color-bright;
      background: $color-bg-button;
    }
  }
}
