<h1 (click)="location.back()" class="navigate-back">&lt; {{locationName}}</h1>
<tour-overview [tours]="tours"
               (locationClicked)="goToLocation($event)"
               (operatorClicked)="clickedOperator$.next($event)"></tour-overview>
<modal-dialog *ngIf="clickedOperator$.getValue()"
              [showDialog]="clickedOperator$.getValue()"
              (dismissDialog)="clickedOperator$.next(undefined)">
  <truck [operator]="clickedOperator$.getValue()"
         [showDetails]="true"
         (logoClicked)="clickedOperator$.next(undefined)"
         (locationClicked)="goToLocation($event)"></truck>
</modal-dialog>
