@import '../../../../assets/sass-global/palette';

navbar {
  display: flex;
  align-items: center;
  padding: 5px;
  color: $font-color-bright;
  background: $color-bg-header;

  .back-action {
    width: 50px;
    cursor: pointer;
  }

  .actions {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
  }
}
