@import '../../../../../assets/css/containers';

truck {
  .operator-info {
    display: flex;
    justify-content: center;

    .operator-description {
      padding: 10px;
    }

    logo {
      @include card;
    }
  }

  .operator-impressions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .operator-impression {
      @include card;
      margin-right: 5px;
    }

    img {
      width: 200px;
      height: 200px;
    }
  }

  @include respond-to(max-width, 500px) {
    .operator-info {
      flex-direction: column;
      align-items: center;
    }
  }
}
