logo {
  cursor: pointer;

  .logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 140px;
      height: 105px;
    }

    .logo-caption {
      span {
        display: block;
        text-align: center;
      }
    }
  }
}
